[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"e1839a8" = {path = ".", editable = true}


[dev-packages]

bumpversion = "==0.5.3"
watchdog = "==0.8.3"
"flake8" = ">=3.5"
tox = ">=2.9"
coverage = "==4.1"
sphinx = "==1.4.8"
cryptography = ">=2.1"
pyyaml = "==3.11"
pytest = ">=3.3"
pytest-runner = ">=3.0"
